<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>《{{.TextFileName|removeTxt}}》赛码结果</title>
  <style>
    body {
      min-width: fit-content;
      font-size: 16px;
    }

    main {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .schemaName {
      font-weight: bolder;
      text-align: center;
      padding-bottom: 0.8rem;
      text-shadow: 0 0 10px #aaa;
    }

    .sectionTitle {
      font-size: 2em;
      color: #334;
      letter-spacing: 0.2em;
      font-family: "Microsoft YaHei Light", "Segoe UI", Tahoma, Geneva,
        Verdana, sans-serif;
      padding: 0.4rem 0;
      border-bottom: #aab 2px solid;
    }

    .smqOutSection {
      display: flex;
      flex-wrap: wrap;
      margin: 0.8rem 0.4rem;
    }

    .finRate {
      font-size: small;
      color: rgba(0, 0, 4, 0.4);
    }

    .SmqOutField {
      padding: 0.1em 0.6em;
    }

    b {
      min-width: 7em;
      text-align: right;
      color: lightslategrey;
    }

    b::after {
      content: "：";
    }

    i {
      min-width: 6em;
      font-style: normal;
      margin-right: 0.8em;
    }

    .cardGroup {
      display: flex;
      justify-content: center;
      align-content: center;
      min-width: fit-content;
      margin: 1rem 2rem;
    }

    .reportCard {
      background-image: linear-gradient(to bottom, #ddd, whitesmoke 4em);
      overflow: hidden;
      max-width: 40em;
      background-color: whitesmoke;
      box-shadow: 0px 5px 15px rgba(0, 0, 4, 0.2);
      border-radius: 12px;
      padding: 1rem;
      border: #ddd 2px solid;
    }

    table {
      font-family: 'consolas', monospace;
      border-spacing: 4px;
      border-color: darkgray;

    }

    td {
      min-width: 1.2em;
      width: 3em;
      text-align: center;
    }

    footer {
      color: #ddd;
      font-size: .8rem;
    }
  </style>
</head>

<body>
  <header>
    <h1 style="text-align:center;">《{{.TextFileName | removeTxt}}》赛码结果</h1>
    <p style="text-align:center;">文本字数：{{$firstSchemas := index .Schemas 0}} {{$firstSchemas.SmqOut.TextLen}}</p>
  </header>
  <main>
    {{range .Schemas}}
    <div class="cardGroup">
      <div class="reportCard">
        <div class="schemaName">{{.SchemaName | removeTxt}}</div>



        <div class="sectionTitle">🚀&nbsp;效率</div>

        <div class="smqOutSection">
          <div class="smqOutField">
            <b>码长</b>
            <i>{{.SmqOut.CodeAvg | printf "%.3f"}}</i>
          </div>
          <div class="smqOutField">
            <b>上屏数</b>
            <i>{{.SmqOut.UnitCount}}</i>
          </div>
          <div class="smqOutField">
            <b>总键数</b>
            <i>{{.SmqOut.CodeLen}}</i>
          </div>
          <div class="smqOutField" title="非汉字：{{.SmqOut.NotHan}}">
            <b>非汉字数</b>
            <i>{{.SmqOut.NotHanCount}}</i>
          </div>
          <div class="smqOutField" title="缺字：{{.SmqOut.Lack}}">
            <b>缺字数</b>
            <i>{{.SmqOut.LackCount}}</i>
          </div>
        </div>

        <div class="smqOutSection">
          <div class="smqOutField">
            <b>打词字数</b>
            <i>{{.SmqOut.WordLen}}</i>
          </div>
          <div class="smqOutField">
            <b>占比</b>
            <i>{{.SmqOut.WordLenRate | convertToPercentage}}</i>
          </div>
          <div class="smqOutField">
            <b>打词数</b>
            <i>{{.SmqOut.WordCount}}</i>
          </div>
          <div class="smqOutField">
            <b>占比</b>
            <i>{{.SmqOut.WordRate | convertToPercentage}}</i>
          </div>
        </div>

        <div class="smqOutSection">
          <div class="smqOutField">
            <b>选重字数</b>
            <i>{{.SmqOut.RepeatLen}}</i>
          </div>
          <div class="smqOutField">
            <b>占比</b>
            <i>{{.SmqOut.RepeatLenRate|convertToPercentage}}</i>
          </div>
          <div class="smqOutField">
            <b>选重数</b>
            <i>{{.SmqOut.RepeatCount}}</i>
          </div>
          <div class="smqOutField">
            <b>占比</b>
            <i>{{.SmqOut.RepeatRate|convertToPercentage}}</i>
          </div>
        </div>

        <div class="smqOutSection">
          {{range $i,$v := .SmqOut.CodeStat}}
          <div class="smqOutField">
            <b>{{$i}}码</b>
            <i>{{$v}}</i>
          </div>
          {{end}}
        </div>

        <div class="smqOutSection">
          {{range $i,$v := .SmqOut.WordStat}}
          <div class="smqOutField">
            <b>{{$i}}字词</b>
            <i>{{$v}}</i>
          </div>
          {{end}}
        </div>

        <div class="smqOutSection">
          {{range $i,$v := .SmqOut.RepeatStat}}
          <div class="smqOutField">
            <b>{{$i}}重</b>
            <i>{{$v}}</i>
          </div>
          {{end}}
        </div>

        <div class="sectionTitle">🧤&nbsp;手感</div>
        <div class="smqOutSection">
          <table>
            <tr>
              <td title="使用率：{{index .SmqOut.KeyRate '1' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate '1' |calcKeyHeatColor}};">
                1 <div class="finRate"> {{index .SmqOut.KeyRate '1' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate '2' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate '2' |calcKeyHeatColor}};">
                2 <div class="finRate"> {{index .SmqOut.KeyRate '2' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate '3' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate '3' |calcKeyHeatColor}};">
                3 <div class="finRate"> {{index .SmqOut.KeyRate '3' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate '4' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate '4' |calcKeyHeatColor}};">
                4 <div class="finRate"> {{index .SmqOut.KeyRate '4' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate '5' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate '5' |calcKeyHeatColor}};">
                5 <div class="finRate"> {{index .SmqOut.KeyRate '5' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate '6' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate '6' |calcKeyHeatColor}};">
                6 <div class="finRate"> {{index .SmqOut.KeyRate '6' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate '7' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate '7' |calcKeyHeatColor}};">
                7 <div class="finRate"> {{index .SmqOut.KeyRate '7' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate '8' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate '8' |calcKeyHeatColor}};">
                8 <div class="finRate"> {{index .SmqOut.KeyRate '8' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate '9' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate '9' |calcKeyHeatColor}};">
                9 <div class="finRate"> {{index .SmqOut.KeyRate '9' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate '0' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate '0' |calcKeyHeatColor}};">
                0 <div class="finRate"> {{index .SmqOut.KeyRate '0' | convertToNoPercentage}}</div>
              </td>
            </tr>
            <tr>
              <td title="使用率：{{index .SmqOut.KeyRate 'q' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate 'q' |calcKeyHeatColor}};">
                Q <div class="finRate"> {{index .SmqOut.KeyRate 'q' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate 'w' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate 'w' |calcKeyHeatColor}};">
                W <div class="finRate"> {{index .SmqOut.KeyRate 'w' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate 'e' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate 'e' |calcKeyHeatColor}};">
                E <div class="finRate"> {{index .SmqOut.KeyRate 'e' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate 'r' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate 'r' |calcKeyHeatColor}};">
                R <div class="finRate"> {{index .SmqOut.KeyRate 'r' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate 't' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate 't' |calcKeyHeatColor}};">
                T <div class="finRate"> {{index .SmqOut.KeyRate 't' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate 'y' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate 'y' |calcKeyHeatColor}};">
                Y <div class="finRate"> {{index .SmqOut.KeyRate 'y' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate 'u' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate 'u' |calcKeyHeatColor}};">
                U <div class="finRate"> {{index .SmqOut.KeyRate 'u' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate 'i' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate 'i' |calcKeyHeatColor}};">
                I <div class="finRate"> {{index .SmqOut.KeyRate 'i' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate 'o' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate 'o' |calcKeyHeatColor}};">
                O <div class="finRate"> {{index .SmqOut.KeyRate 'o' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate 'p' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate 'p' |calcKeyHeatColor}};">
                P <div class="finRate"> {{index .SmqOut.KeyRate 'p' | convertToNoPercentage}}</div>
              </td>
            </tr>
            <tr>
              <td title="使用率：{{index .SmqOut.KeyRate 'a' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate 'a' |calcKeyHeatColor}};">
                A <div class="finRate"> {{index .SmqOut.KeyRate 'a' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate 's' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate 's' |calcKeyHeatColor}};">
                S <div class="finRate"> {{index .SmqOut.KeyRate 's' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate 'd' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate 'd' |calcKeyHeatColor}};">
                D <div class="finRate"> {{index .SmqOut.KeyRate 'd' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate 'f' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate 'f' |calcKeyHeatColor}};">
                F <div class="finRate"> {{index .SmqOut.KeyRate 'f' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate 'g' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate 'g' |calcKeyHeatColor}};">
                G <div class="finRate"> {{index .SmqOut.KeyRate 'g' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate 'h' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate 'h' |calcKeyHeatColor}};">
                H <div class="finRate"> {{index .SmqOut.KeyRate 'h' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate 'j' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate 'j' |calcKeyHeatColor}};">
                J <div class="finRate"> {{index .SmqOut.KeyRate 'j' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate 'k' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate 'k' |calcKeyHeatColor}};">
                K <div class="finRate"> {{index .SmqOut.KeyRate 'k' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate 'l' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate 'l' |calcKeyHeatColor}};">
                L <div class="finRate"> {{index .SmqOut.KeyRate 'l' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate ';' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate ';' |calcKeyHeatColor}};">
                ; <div class="finRate"> {{index .SmqOut.KeyRate ';' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate '\'' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate '\'' |calcKeyHeatColor}};">
                ' <div class="finRate"> {{index .SmqOut.KeyRate '\'' | convertToNoPercentage}}</div>
              </td>
            </tr>
            <tr>
              <td title="使用率：{{index .SmqOut.KeyRate 'z' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate 'z' |calcKeyHeatColor}};">
                Z <div class="finRate"> {{index .SmqOut.KeyRate 'z' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate 'x' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate 'x' |calcKeyHeatColor}};">
                X <div class="finRate"> {{index .SmqOut.KeyRate 'x' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate 'c' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate 'c' |calcKeyHeatColor}};">
                C <div class="finRate"> {{index .SmqOut.KeyRate 'c' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate 'v' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate 'v' |calcKeyHeatColor}};">
                V <div class="finRate"> {{index .SmqOut.KeyRate 'v' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate 'b' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate 'b' |calcKeyHeatColor}};">
                B <div class="finRate"> {{index .SmqOut.KeyRate 'b' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate 'n' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate 'n' |calcKeyHeatColor}};">
                N <div class="finRate"> {{index .SmqOut.KeyRate 'n' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate 'm' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate 'm' |calcKeyHeatColor}};">
                M <div class="finRate"> {{index .SmqOut.KeyRate 'm' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate ',' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate ',' |calcKeyHeatColor}};">
                , <div class="finRate"> {{index .SmqOut.KeyRate ',' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate '.' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate '.' |calcKeyHeatColor}};">
                . <div class="finRate"> {{index .SmqOut.KeyRate '.' | convertToNoPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.KeyRate '/' | convertToPercentage}}"
                style="background-color: {{index .SmqOut.KeyRate '/' |calcKeyHeatColor}};">
                / <div class="finRate"> {{index .SmqOut.KeyRate '/' | convertToNoPercentage}}</div>
              </td>

              <td></td>
            </tr>
            <tr>
              <td title="使用率：{{index .SmqOut.FinRate 1 | convertToPercentage}}&#10;"
                style="background-color: {{index .SmqOut.FinRate 1 | calcFingerHeatColor}};">左小<div class="finRate">
                  {{index .SmqOut.FinRate 1 | convertToPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.FinRate 2 | convertToPercentage}}&#10;"
                style="background-color: {{index .SmqOut.FinRate 2 | calcFingerHeatColor}};">左无<div class="finRate">
                  {{index .SmqOut.FinRate 2 | convertToPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.FinRate 3 | convertToPercentage}}&#10;"
                style="background-color: {{index .SmqOut.FinRate 3 | calcFingerHeatColor}};">左中<div class="finRate">
                  {{index .SmqOut.FinRate 3 | convertToPercentage}}</div>
              </td>

              <td colspan="2" title="使用率：{{index .SmqOut.FinRate 4 | convertToPercentage}}&#10;"
                style="background-color: {{index .SmqOut.FinRate 4 | calcFingerHeatColor}};">左食<div class="finRate">
                  {{index .SmqOut.FinRate 4 | convertToPercentage}}</div>
              </td>

              <td colspan="2" title="使用率：{{index .SmqOut.FinRate 6 | convertToPercentage}}&#10;"
                style="background-color: {{index .SmqOut.FinRate 6 | calcFingerHeatColor}};">右食<div class="finRate">
                  {{index .SmqOut.FinRate 6 | convertToPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.FinRate 7 | convertToPercentage}}&#10;"
                style="background-color: {{index .SmqOut.FinRate 7 | calcFingerHeatColor}};">右中<div class="finRate">
                  {{index .SmqOut.FinRate 7 | convertToPercentage}}</div>
              </td>

              <td title="使用率：{{index .SmqOut.FinRate 8 | convertToPercentage}}&#10;"
                style="background-color: {{index .SmqOut.FinRate 8 | calcFingerHeatColor}};">右无<div class="finRate">
                  {{index .SmqOut.FinRate 8 | convertToPercentage}}</div>
              </td>

              <td colspan="2" title="使用率：{{index .SmqOut.FinRate 9 | convertToPercentage}}&#10;"
                style="background-color: {{index .SmqOut.FinRate 9 | calcFingerHeatColor}};">右小<div class="finRate">
                  {{index .SmqOut.FinRate 9 | convertToPercentage}}</div>
              </td>

            </tr>

            <tr>
              <td colspan="4" title="使用率：{{.SmqOut.LeftHand | convertToPercentage}}"
                style="background-color: {{.SmqOut.LeftHand | calcHandHeatColor}};">左手<div class="finRate">
                  {{.SmqOut.LeftHand | convertToPercentage}}</div>
              </td>

              <td colspan="2" title="使用率：{{index .SmqOut.FinRate 5 | convertToPercentage}}&#10;"
                style="background-color: {{index .SmqOut.FinRate 5 | calcFingerHeatColor}};">空格<div class="finRate">
                  {{index .SmqOut.FinRate 5 | convertToPercentage}}</div>
              </td>

              <td colspan="5" title="使用率：{{.SmqOut.RightHand | convertToPercentage}}"
                style="background-color: {{.SmqOut.RightHand | calcHandHeatColor}};">右手<div class="finRate">
                  {{.SmqOut.RightHand | convertToPercentage}}</div>
              </td>

            </tr>
          </table>
        </div>


        <div class="smqOutSection">
          
          <div class="smqOutField">
            <b>左右</b>
            <i>{{index .SmqOut.HandRate 0 | convertToPercentage}}</i>
          </div>
          <div class="smqOutField">
            <b>右左</b>
            <i>{{index .SmqOut.HandRate 1 | convertToPercentage}}</i>
          </div>
          <div class="smqOutField">
            <b>左左</b>
            <i>{{index .SmqOut.HandRate 2 | convertToPercentage}}</i>
          </div>
          <div class="smqOutField">
            <b>右右</b>
            <i>{{index .SmqOut.HandRate 3 | convertToPercentage}}</i>
          </div>
        </div>



        <div class="smqOutSection">
          <div class="smqOutField">
            <b>同指</b>
            <i>{{.SmqOut.SameFinRate | convertToPercentage}}</i>
          </div>
          <div class="smqOutField">
            <b>同键</b>
            <i>{{.SmqOut.Sk | convertToPercentage}}</i>
          </div>
          <div class="smqOutField">
            <b>大跨排</b>
            <i>{{.SmqOut.Xkp| convertToPercentage}}</i>
          </div>
          <div class="smqOutField">
            <b>小跨排</b>
            <i>{{.SmqOut.Dkp| convertToPercentage}}</i>
          </div>

        </div>


        <div class="smqOutSection">
          <div class="smqOutField">
            <b>异手</b>
            <i>{{.SmqOut.DiffHandRate | convertToPercentage}}</i>
          </div>
          <div class="smqOutField">
            <b>当量</b>
            <i>{{.SmqOut.Eq | printf "%.3f"}}</i>
          </div>

          <div class="smqOutField">
            <b>错手</b>
            <i>{{.SmqOut.Cs| convertToPercentage}}</i>
          </div>
          <div class="smqOutField">
            <b>小指干扰</b>
            <i>{{.SmqOut.Lfd| convertToPercentage}}</i>
          </div>
        </div>


      </div>
    </div>
    </div>
    {{end}}
  </main>
  <footer>
    <a href="https://github.com/cxcn/gosmq" target="_blank">访问仓库</a> &nbsp; {{getNowDate}}
  </footer>
</body>

</html>